* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: Gotham Book, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: "Chronicle Light";
    src: url("/public/fonts/ChronicleDisp-Light.otf") format("opentype");
}
@font-face {
    font-family: "Chronicle Bold";
    src: url("/public/fonts/ChronicleDisp-Bold.otf") format("opentype");
}
@font-face {
    font-family: "Gotham Book";
    src: url("/public/fonts/Gotham-Book.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Light";
    src: url("/public/fonts/Gotham-Light.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Bold";
    src: url("/public/fonts/Gotham-Bold.otf") format("opentype");
}

@font-face {
    font-family: "Gotham Black";
    src: url("/public/fonts/Gotham-Black.otf") format("opentype");
}
